._global, body{
	width:1000px;
	background-color:white;
}

.gauche {
	border-style:solid;
	border-width:1px;
	border-color:#fff;
	background-color:#fff;
	height:615px;
	padding:2px;
	margin:0px;
	width:1000px;
	float:left;
	position: relative;
}
.bubbles{
	float:left;
	width:1000px;
	z-index:100;
	position: relative;
}
rect {
  stroke: #fff;
  cursor:pointer;
}
.droite {	
	border-style:solid;
	border-width:1px;
	background-color:#fff;
	border-color:#fff;
	width:347px;
	float:right;
}
hr {
  height: 2px;
  margin: 10 00 0 10;
  color: #8CB1DE;
  background-color: #8CB1DE;
  border: 0;
}



#selecteur{
	/*padding:5px;
	margin:10px;*/
	z-index:102;
	max-height:100px;
	width:70px;
	position:absolute;
	right:7px;
	top:13px;
}
/*#selecteur input{
	margin-left:5px;
}*/


.img{
	position:absolute;
	top:0px;
}

.texte{
	height:80px;
	margin:0px;
	padding-left:10px;
}
.graph_{
	padding-top:54px;
}

.graph{
	height:200px;
	padding:20 0 0 0;
	margin:0px;
}
.credits{
	float:right;
	margin-top:2px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 9999;
  max-width:400px;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

ellipse {
	opacity:1;
	cursor: pointer;
}
g#poles {
	/*LOL*/
}
#textes text{
	text-anchor:middle;
}
g#poles text{
	text-anchor:middle;
	fill: #FFF;
	font-size:20pt;
	font-weight:bold;
	cursor: pointer;
}
g#poles text.small{
	font-size:12pt;
	font-weight:normal;
}
g#textes text{
	text-anchor:left;
	fill: #000;
	font-size:13pt;
	font-weight:bold;
}
text.pourcentage{
	text-anchor:middle;
	font-size:11pt;
	font-weight:bold;
	fill:#FFF;
	cursor:pointer;
}
.bubbles svg{
	background-color:#e4e6e9;
}

div.tooltip {   
  position: absolute;           
  max-width: 200px;                  
  height: auto;   
  padding: 8px;                 
  background: rgba(255,255,255,1);   
  opacity:1;
  z-index: 9999;       
  pointer-events: none;         
}
div.tooltip h2{
	font-weight: bold;
	font-size:1.2em;
  text-align: center;  
}
div.tooltip ul li:before{
	content: '\2588 \2002';
}

.pge:before{
	color:#9c090f;
}
.ael:before{
	color:#04103f;
}
.verts:before{
	color:#80b904;
}
.ppe:before{
	color:#2c59a8;
}
.pse:before{
	color:#f96996;
}
.adle:before{
	color:#fb6b02;
}

#legende_thematiques ul{
	list-style: none
}
#legende_thematiques ul span {
	width:12px;
	height:12px;
	border-radius:10px;
	display: inline-block;
	margin-right: 5px;
}

span.eco{
	background-color: #0386C3;
}
span.instit{
	background-color: #285A82;
}
span.soc{
	background-color: #28BEAA;
}
span.envir{
	background-color: #821400;
}
span.instit{
	background-color: #FFC832;
}
span.immig{
	background-color: #FF3232;
}
span.num{
	background-color: #F09600;
}
span.inter{
	background-color: #191919;
}

#bloc1 {
top: 200px;
position: relative;
}

#bloc1 ul {
	list-style:square;
	margin-left:10px;
}

.avatar13x13 {
margin: 0 4px 0 0;
vertical-align: middle;
background: url('http://s1.lemde.fr/medias/web/6eb8afa4659e00157575ba402ba14c6f/img/sprites/sprite.png') -28px -94px no-repeat;
display: inline-block;
text-indent: -9999px;
height: 13px;
width: 13px;
cursor: pointer;
}
.tw13x13 {
background: url('http://s1.lemde.fr/medias/web/6eb8afa4659e00157575ba402ba14c6f/img/sprites/sprite.png') 0 -52px no-repeat;
display: inline-block;
text-indent: -9999px;
height: 13px;
width: 13px;
cursor: pointer;
}

.fenetre {
	margin-top:20px;
}

.vote, .parti, .groupe {
	font-weight:bold;
}

.ui-tooltip-content ul {
	list-style:square;
	margin-left:15px;
}

.legende{
	padding:10px;
	z-index:101;
	position:absolute;
	right:5px;
	bottom:5px;
	
/* 	border:2px solid #8CB1DE; */
}
.legende ul {
	list-style:none;
	margin:0;
	display: inline;
}
.legende ul li {
	border-left-width:10px;
	border-left-style:solid;
	padding-left:4px;
	padding-right:7px;
	margin-bottom:8px;
	display: inline;
}
.ump {
	border-left-color:#2c59a8;
}
.udi{
	border-left-color:#71589E;
}
.mpf{
	border-left-color:#28beaa;
}
.fn{
	border-left-color:#04103f;
}
.modem{
	border-left-color:#fb6b02;
}
.eelv{
	border-left-color:#80b904;
}
.ps{
	border-left-color:#f96996;
}
.fg{
	border-left-color:#D40000;
}
.ecr{
	border-left-color:#c3ad17;
}

.sourcing {
	text-align: right;
	font-weight:bold;
	padding:7px;
	clear:both;
}

.sourcing:before {
	content: '\203A \203A \00A0';
}

.menu_ancre {
border-top: 3px solid #16212c!important;
padding: 0 10px;
margin-top: 15px!important;
font-weight: bold;
}
.rappel p {
	margin:5px 0;
}
.rappel ul{
	list-style:square;
	margin-left: 15px;
}